<br>
<br>
<br>
<br>
<br>
<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form (submit)="registerUser($event)">
                                <h1>Register</h1>
                                <p class="text-muted">Create your account</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="First Name" id="fName"
                                        autocomplete="firstname" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Last Name" id="lName"
                                        autocomplete="lastname" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" id="username"
                                        autocomplete="username" required>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                                    </div>
                                    <input type="date" class="form-control" placeholder="Date of Birth" autocomplete=""
                                        id="dob" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-people"></i></span>
                                    </div>

                                    <select id="gender" name="select1" class="form-control">
                                        <option value="0">Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>

                                    </select>

                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" id="password"
                                        autocomplete="new-password" required>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Repeat password"
                                        id="cpassword" autocomplete="new-password" required>
                                </div>
                                <button type="submit" id="submit" class="btn btn-block btn-success">Create
                                    Account</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>